<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--  <test thread-count="5" ><suite name="Suite" Configfailurepolicy="continue">-->
<suite name="NoPaperSystem" preserve-order="true" allow-return-values="true" configfailurepolicy="continue">
	<test name="Login" preserve-order="true">
		<classes>
			<class name="com.xmkg.web.TestLoginPage" />

		</classes>
	</test>
</suite>
